.App {
  text-align: center;
}

.App-header {
  background-color: #d513d5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.appContainer {
  display:flex;
  height: 100vh;
  width:100vw;
}


#patient-form {
  display:flex;
  flex-direction:column;
  background-color:grey;
}

#patient-table {

  background-color:rgb(109, 109, 243);
}